@model Experience
@{
    ViewData["Title"] = "Deneyim Bilgisini Düzenle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h1>Deneyim Bilgisini Düzenle</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Update">
            <input type="hidden" asp-for="ExperienceId" />
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label">Pozisyon</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Company" class="control-label">Şirket</label>
                <input asp-for="Company" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="City" class="control-label">Şehir</label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="StartYear" class="control-label">Başlangıç Yılı</label>
                <input asp-for="StartYear" class="form-control" type="number" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="EndYear" class="control-label">Bitiş Yılı</label>
                <input asp-for="EndYear" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
            </div>
        </form>
    </div>
</div>

