@model Banner
@*
    Default Hero Component
*@

<section id="hero" class="hero section">

	<img src="@Model.CoverImageUrl" alt="" data-aos="fade-in">

	<div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<h2 style="font-size:70px;color:white;">
					@Model.NameSurname
				</h2>
				<p style="font-size:70px;color:white;">@Model.Title</p>
			</div>
		</div>
	</div>

</section><!-- /Hero Section -->